@model IEnumerable<Sample.Data.EmployeeModel>

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p>
    @Html.ActionLink("Create New", "AddEmployee")
</p>
<div style="text-align:right">@Html.ActionLink("Print Employees", "PrintAllEmployee")</div>
<table class="table table-bordered">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Name) </th>
        <th> @Html.DisplayNameFor(model => model.Designation) </th>
        <th> @Html.DisplayNameFor(model => model.Salary) </th>
        <th></th>
    </tr> @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.Name) </td>
            <td> @Html.DisplayFor(modelItem => item.Designation) </td>
            <td> @Html.DisplayFor(modelItem => item.Salary) </td>
            <td> @Html.ActionLink("Details", "Employee", new { id = item.ID }) </td>
        </tr>}
</table>
